{% spaceless %}
{{ sample.ticket }}, Analysis Complete, Non-Incident
{{ sample.ticket }}, Analysis Complete, SPAM
{{ sample.ticket }}, Analysis Complete, AV-Detected
{{ sample.ticket }}, Analysis Complete, Malcode Detected

Reason for Ticket/Alert : Suspicious Email

--Email Info--
Sender    :
Time Sent : 
Subject   : 

--File Info--

File                            :    {{ sample.filename }}
Type                            :    {{ base_analysis.filetype }}
MD5                             :    {{ sample.md5 }}
SHA1                            :    {{ sample.sha1 }}
SHA256                          :    {{ sample.sha256 }}
FUZZY                           :    {{ sample.ssdeep }}
Size                            :    {{ sample.size }}
Analyzed Date/Time              :    {{ sample.created }}
CVE                             :
VirusTotal                      :

--Links--
Link(s):



Caught by AV (YES/NO)           :    {% if plaintext.vt_short %}YES{% endif %}
                      VT        :    {% if plaintext.vt_nums %}{{ plaintext.vt_nums }}{% endif %}
                      {% if plaintext.vt_short %}{% for res in plaintext.vt_short %}{{ res.vendor }}{{ res.detect }}
                      {% endfor %}{% endif %}


{% if ta_domains %}DNS Callout                     :    {% for domain in ta_domains %}{{ domain }}  {% endfor %}{% endif %}
{% if ta_ips     %}IP Callout                      :    {% for ip in ta_ips %}{{ ip }}  {% endfor %}{% endif %}



--Summary--

A user submitted the following email for analysis. 
The email sender was <EMAIL SENDER>.
The email was sent by <EMAIL SERVER>, registered to <OWNER OF IP ADDRESS OF EMAIL SERVER>.

The email did not contain any attachments 
The email contained an attached file. CIRT analyzed the attachment and ...

The email did not contain any URLs.
The email contained a link to <target>. CIRT examined the URL and ...

<AFFECTED USERS> users received the email.

<NUMBER OF VISITORS>/No users clicked on the link.

--Remediation--

- False Positive

- Block the following:
    Block:          <DOMAIN>
    Justification:  Phishing domain

- Block the following:
    Block:          email[@]domain.tld
    Justification:  Multiple phishing emails

--Analysis Notes--

{% for tab in tabs %}
#### {{tab.title}} ####

{% for group in tab.groups %}## {{group.title}} ##

{% for entry in group.entries %}{%if entry.entry_type == "single" %}{{ entry.title }}:{{ entry.value }}
{% elif entry.entry_type == "multiline"%}{{ entry.value }}{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endspaceless %}
